<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="go_spatial.com.github.tegola.mobile.android.ux.test" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="27" />

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for go_spatial.com.github.tegola.mobile.android.ux"
        android:targetPackage="go_spatial.com.github.tegola.mobile.android.ux" />

    <application android:debuggable="true" >
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>