<?xml version="1.0" encoding="utf-8"?>
<manifest package="go_spatial.com.github.tegola.mobile.android.controller"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="16" android:maxSdkVersion="28"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.READ_LOGS"/>-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <service android:name="go_spatial.com.github.tegola.mobile.android.controller.FGS"/>
        <activity android:name="go_spatial.com.github.tegola.mobile.android.controller.ASNBContentActivity"/>
    </application>

</manifest>